@import "tailwindcss";
@theme{
    --color-primary: #d4f0fc;
    --color-secondary: #01303f;
    --color-accent: #02a9f7;
}

.hide-scroll-track::-webkit-scrollbar {
    width:8px;
}
.hide-scroll-track::-webkit-scrollbar-track {
    background: transparent;
}
.hide-scroll-track::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #0f172a;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(to bottom, #0891b2, #2563eb);
	border-radius: 9999px;
	border: 2px solid #0f172a;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(to bottom, #06b6d4, #3b82f6);
}

* {
	scrollbar-width: thin;
	scrollbar-color: #0891b2 #0f172a;
}

@keyframes gradientMove {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}